<div id="show_profile">
<p>
  <strong>First name:</strong>
  <%=@profile.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%=@profile.last_name %>
</p>
<p>
  <strong>Username:</strong>
  <%=@user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%=@user.email %>
</p>
</div>

